.UserProducts {
    padding: 0.7rem;
    padding-top: 150px;
    width: 100%;
    min-height: 100vh;
}
.NoProductDialog {
    width: 98%;
    height: 4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.NoProductDialog h4 {
    color: #245160;
    text-transform: uppercase;
}
.BadgeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
    padding: 0.4em;
    width: 100%;
    margin-bottom: 1.6rem;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.BadgeTypeB {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ImgContainer {
    width: 45%;
    height: 100%;
}
.ImgContainer img {
    width: 100%;
    height: 100%;
}

.Description {
    width: 13rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.Description h1 {
    margin: 0;
    padding: 0;
    margin-top: 0.3rem;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}

.Description h2 {
    margin: 0;
    padding: 0;
    font-size: 11px;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-transform: capitalize;
}

.Description p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0.3rem;
    width: 100%;
    height: 2rem;
    flex-grow: 1;
    text-align: left;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: clip;
    font-family: "Roboto", sans-serif;
    color: #616266;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Description h3 {
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    padding-right: 0.3rem;
}
.ControlButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}
